.search_bar_div{
  display: flex;
  margin-left: 17.5%;
  margin-top: 5%;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 65%;
}


.Search_bar_input{
  border: none;
  outline: none;
  border-color: none;
  width: 100%;
  font-size: 30px;
  margin: 0px;
  padding: 10px;
}

.Graph1 {
  width: 80%;
  margin: auto;
  /* margin: 0px; */
}

.dispaly_weather {
  border: 1px solid gray;
  width: 65%;
  margin: auto;
  margin-top: 5%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.temp_div {
  display: flex;
}

.temp_div span p{
  color: black;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
}

.temp_div span img {
  width: 30px;
}

.pres_humi{
  display: flex;
  justify-content: space-around;
  margin-right: 15%;
}

.pres_humi span p {
  width: 140%;
  font-size: 30px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d8f6fe ;

}

.pres_humi span p1 {
  color: gray;

}


.sunrise_set {
  display: flex;
  justify-content: space-between;
}

.sunrise_set p a{ 
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px

}



.graph_2{
  width: 80%;
  margin: auto;
}

 


.weak_days {
  width: 100px;
  height: 90%;
  text-align: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  white-space: nowrap;
  border-radius: 10px;
  margin-left: 20px;
  display: inline-block;
}

.weak_days:hover {
  border: 4px solid #03A9F4;
}

.weather_detail_div {
  width: 100%;
  height: 40%;
}

.weak_div{
  background-image: url("https://cdn.dribbble.com/users/2277649/screenshots/8498294/weather_dribbble_size.gif.gif");
  margin: auto;
  width: 65%;
  height: 40%;
  border-radius: 10px;
}

.weekdays {
  width: 100%;
  height: 20px;
  font-family: sans-serif;
  font-weight: bold;
  color: #2a2c2e;
}

.span {
  font-family: sans-serif;
  font-size: 100%;
  font-weight: bold;
  position: relative;
  color: #2a2c2e;
  top: -10px;
  padding-right: 7%;
  display: inline-block;
}


.image_div {
  width: 100%;
  height: 55%;
}

.image_pick_div {
  margin-bottom: -10PX;
  height: 50%;
  width: 30%;
}

.Weather_status {
  font-weight: 700;
  color: #959596;
  font-family: sans-serif;
}

.map_div{
  border-radius: 30px;
 
}

.Map{
  width:95%;
  height: 400px;
  padding:10px;
  padding-bottom: 10px;
}

.allstates{
  margin: 0px;
  margin-left: 17.5%;
  /* border: 1px solid gray; */
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 65%;
}

.allstates h3 {
  text-align: left;
  margin-left: 5%;

}

